.footer {
  position: relative;
  width: 100%;
  height: 60px;

  background: var(--Preto);

  overflow: hidden;

  & p {
    position: absolute;
    width: 236px;
    height: 30px;
    left: calc(50% - 236px / 2);
    top: calc(50% - 30px / 2);

    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: var(--Cinza-Claro);
  }
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    /* Altura da "borda" */
    background: linear-gradient(to right, #05050600 5%, #007AFF 50%, #05050600 95%);
    z-index: 1;
}