.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 206px;

  position: fixed;
  width: 100%;
  height: 60px;

  z-index: 9;

  background: rgba(18, 18, 18, 0.2);
  border-bottom: 1px solid rgba(175, 175, 175, 0.2);
  backdrop-filter: blur(4px);
}

.Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: auto;
  height: 28px;

  left: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;

  z-index: 10;
}

.nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100dvh;

  background: var(--Color-Bg-Dark);

  overflow: hidden;
}

.nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;

  position: absolute;
  width: calc(100% - 16px);
  height: auto;
  left: calc(50% - calc(100% - 16px) / 2);
  top: 140px;
}

.nav li {
  position: relative;
  width: 100%;
  height: 60px;

  font-family: var(--font-bebas);
  font-style: normal;
  font-weight: 500;
  font-size: var(--fs-h2);
  line-height: 55px;

  text-transform: uppercase;
  cursor: pointer;
  color: var(--Color-White);

  transition: color 0.3s ease;

  border-bottom: 1px solid var(--Color-Light-Gray);
}

.nav li:hover {
  color: var(--Color-Primary);
  transition: width 0.3s ease-in-out;
}

.nav li:hover::after {
  width: 100%;
}

.emailcontato {
  position: absolute;
  width: 208px;
  height: 18px;
  left: calc(50% - 208px / 2);
  bottom: 52px;

  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-small);
  line-height: 18px;

  color: var(--Color-Light-Gray);
}

.Redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: calc(100% - 120px);
  height: auto;
  left: calc(50% - (100% - 120px) / 2);
  top: 480px;

  & h1 {
    width: 100%;
    height: 18px;

    font-family: var(--font-plus);
    font-style: normal;
    font-weight: 500;
    font-size: var(--fs-body);
    line-height: 18px;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: var(--Color-Primary);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  & .RedesIcon {
    display: flex !important;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    padding: 0px;
    gap: 20px;

    width: auto;
    height: 48px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    & .IconRedes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      gap: 10px;

      width: 48px;
      height: 48px;

      background: linear-gradient(180deg, #AC58EB 0%, #9E6EE5 100%);
      border-radius: 8px;

      flex: none;
      order: 0;
      flex-grow: 0;


      & img {
        width: auto;
        height: 28px;
      }
    }
  }
}

.navOpen {
  display: flex;
}

.hamburger {
  display: flex;
  align-items: center;
  flex-direction: row;

  gap: 0.5rem;

  position: fixed;
  top: 1.5rem;
  right: 1.6rem;
  z-index: 9999;
  background: none;
  border: none;
  cursor: pointer;
}

.menuIcon,
.closeIcon {
  width: auto;
  height: 16px;
  /* Mantém a proporção correta baseada na altura */
  display: block;
  /* Imagens funcionam melhor como block/inline-block aqui */
}

.menuText {
  font-size: var(--fs-small);
  font-weight: 400;
  color: var(--Color-White);
  text-transform: uppercase;
  /* Se quiser garantir a caixa alta do Figma */
}

.btnContato {
  display: none;
}

/* Responsivo

/* TABLET (768px a 1023px) */

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    gap: 560px;
  }

  .nav ul {
    gap: 28px;

    width: calc(100% - 64px);
    left: calc(50% - calc(100% - 64px) / 2);
    top: 350px
  }

  .emailcontato {
    width: 265px;
    left: calc(50% - 265px / 2);
    bottom: 82px;

    font-size: var(--fs-body);
  }

  .Redes {
    top: 680px;
  }

  .hamburger {
    display: flex;
    align-items: center;
    flex-direction: row;

    gap: 0.5rem;

    position: fixed;
    top: 1.5rem;
    right: 3.8rem;
    z-index: 9999;
    background: none;
    border: none;
    cursor: pointer;
  }
}

/* DESKTOP / NOTEBOOK (≥1024px) */
@media (min-width: 1024px) {
  .header {
    position: fixed;
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .Logo {
    position: absolute;
    width: auto;
    height: 40px;
    left: 80px;
    top: calc(50% - 40px/2);
  }

  .nav {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    gap: 300px;

    position: absolute;
    right: 80px;
    top: calc(50% - 40px/2);
    width: auto;
    height: 40px;
    background: transparent;
    /* Remove qualquer fundo mobile */
    overflow: visible;
  }

  .nav ul {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: auto;
    height: auto;
    left: auto;
    top: auto;
  }

  .nav li {
    width: auto;
    height: auto;
    border-bottom: none;
    font-size: var(--fs-h4);
    line-height: normal;
    color: var(--Color-White);
  }

  /* Exibe o botão de contato se ele estiver mapeado no HTML */
  .btnContato {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;

    width: 145px;
    height: 40px;

    background: rgba(213, 213, 213, 0.05);
    border: 0.75px solid var(--Color-White);
    border-radius: 24px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: var(--font-space);
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-body);
    line-height: 31px;
    /* identical to box height */
    text-align: center;

    color: var(--Color-White);


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

  }

  /* Oculta os elementos exclusivos de mobile */
  .hamburger,
  .menuIcon,
  .closeIcon,
  .Redes,
  .emailcontato {
    display: none !important;
  }
}

/* TELAS GRANDES (≥1700px) */
@media (min-width: 1700px) {
  .Logo {
    position: absolute;
    width: auto;
    height: 40px;
    left: 95px;
    top: calc(50% - 40px/2);
  }

  .nav {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    gap: 565px;

    position: absolute;
    right: 95px;
    top: calc(50% - 40px/2);
    width: auto;
    height: 40px;
    background: transparent;
    /* Remove qualquer fundo mobile */
    overflow: visible;
  }

  .nav ul {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: auto;
    height: auto;
    left: auto;
    top: auto;
  }

  .nav li {
    width: auto;
    height: auto;
    border-bottom: none;
    font-size: var(--fs-h4);
    line-height: normal;
    color: var(--Color-White);
  }

}