.Contatos {
  position: relative;
  width: 100%;
  height: 1700px;

  background: var(--Color-Bg-Dark);

  overflow: hidden;

  border-top: 1px solid var(--Color-Dark-Gray);
}

.SectionTag {
  position: absolute;
  width: 150px;
  height: 25px;
  left: calc(50% - 150px/2 - 0.5px);
  top: 80px;

  font-family: var(--font-plus);
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-body);
  line-height: 25px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: var(--Color-Primary);
}

.Title {
  position: absolute;
  width: calc(100% - 16px);
  height: auto;
  left: calc(50% - (100% - 16px)/2);
  top: 140px;

  font-family: var(--font-bebas);
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-h0);
  line-height: 64px;

  leading-trim: both;
  text-edge: cap;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: var(--Color-White);

  & span {
    color: var(--Color-Primary);
  }
}

.Description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;

  position: absolute;
  width: calc(100% - 16px);
  height: auto;
  left: calc(50% - (100% - 16px) / 2);
  top: 360px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  & p {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-body);
    line-height: 28px;
    text-align: center;

    color: var(--Color-Gray);
  }
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: calc(100% - 16px);
  height: auto;
  left: calc(50% - (100% - 16px) / 2);
  top: 578px;


  & .card {
    width: 100%;
    height: 285px;

    background: var(--Color-Dark);
    border-radius: 32px;
    border: 1px solid var(--Color-Dark-Gray);

    flex: none;
    order: 0;
    flex-grow: 0;

    overflow: hidden;

    & .iconContainer img {
      position: relative;
      width: auto;
      height: 100px;
      left: 28px;
      top: 28px;

      mix-blend-mode: overlay;
      opacity: 0.5;
    }

    & .cardDescription {
      position: relative;
      width: 80%;
      height: auto;
      left: 28px;
      top: 48px;

      font-family: var(--font-poppins);
      font-style: normal;
      font-weight: 400;
      font-size: var(--fs-body);
      line-height: 28px;
      display: flex;
      align-items: center;

      color: var(--Color-White);
    }

  }
}

/* Responsivo

/* TABLET (768px a 1023px) */

@media (min-width: 768px) and (max-width: 1023px) {
  .Contatos {
    height: 1400px;
  }

  .Title {
    width: calc(100% - 220px);
    left: calc(50% - (100% - 220px)/2);
    top: 140px;

    font-size: var(--fs-max);
    line-height: 88px;

  }

  .Description {
    width: calc(100% - 200px);
    left: calc(50% - (100% - 200px) / 2);
    top: 420px;

    & p {
      font-size: var(--fs-h4);
      line-height: 32px;
    }
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 64px);
    left: calc(50% - (100% - 64px) / 2);
    top: 600px;
  }
}

/* DESKTOP / NOTEBOOK (≥1024px) */
@media (min-width: 1280px) {
  .Contatos {
    height: 1200px;
  }

  .Title {
    width: calc(100% - 420px);
    left: calc(50% - (100% - 420px)/2);
    top: 140px;

    font-size: var(--fs-max);
    line-height: 88px;
  }

  .Description {
    width: calc(100% - 500px);
    left: calc(50% - (100% - 500px) / 2);
    top: 320px;

    gap: 8px;

    & p {
      font-size: var(--fs-body);
      line-height: 22px;
    }
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 420px);
    left: 95px;
    top: 480px;
  }
}

/* TELAS GRANDES (≥1700px) */

@media (min-width: 1700px) {
  .Contatos {
    height: 1200px;
  }

  .SectionTag {
    top: 100px;
  }

  .Title {
    width: calc(100% - 800px);
    left: calc(50% - (100% - 800px)/2);
    top: 160px;

    font-size: var(--fs-xxl);
    line-height: 160px;
  }

  .Description {
    width: calc(100% - 500px);
    left: calc(50% - (100% - 500px) / 2);
    top: 520px;

    gap: 8px;

    & p {
      font-size: var(--fs-body);
      line-height: 22px;
    }
  }

  .cardsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: calc(100% - 340px);
    height: 285px;
    left: calc(50% - (100% - 340px) / 2);
    top: 680px;

    & .card {
      width: 480px;
      height: 285px;
    }
  }
}