.Sobre {
  position: relative;
  width: 100%;
  height: 1800px;

  background: var(--Color-Bg-Dark);

  overflow: hidden;
}

.SectionTag {
  position: absolute;
  width: 101px;
  left: 16px;
  top: 80px;

  font-family: var(--font-plus);
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-body);
  line-height: 25px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: var(--Color-Primary);

  z-index: 1;
}

.NameFunder {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 20px;
  gap: 4px;

  position: absolute;
  width: 260px;
  height: 76px;
  left: 16px;
  top: 640px;

  background: linear-gradient(135deg,
      rgba(20, 20, 20, 0.75) 0%,
      rgba(10, 10, 10, 0.4) 50%,
      rgba(30, 30, 30, 0.6) 100%);

  backdrop-filter: blur(4px) saturate(140%);
  -webkit-backdrop-filter: blur(6px) saturate(140%);

  border: 0.80px solid var(--Color-Light-Gray);
  border-radius: 12px;

  z-index: 1;

  & h1 {
    width: auto;
    height: 30px;

    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 600;
    font-size: var(--fs-h4);
    line-height: 30px;

    color: var(--Color-White);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  p {
    width: auto;
    height: 20px;

    font-family: var(--font-space);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: var(--fs-body);
    text-align: left;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: var(--Color-Light-Gray);

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}

.FotoContainer img {
  position: absolute;
  width: 500px;
  height: auto;
  left: calc(50% - 500px / 2 + 0.5px);
  top: 140px;

  background: radial-gradient(56.21% 68.77% at 56.21% 52.81%, rgba(10, 10, 10, 0) 58.22%, #0A0A0A 100%);
  border-bottom: 2px solid var(--Color-Dark-Gray);
}

.TextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  position: absolute;
  width: calc(100% - 16px);
  height: auto;
  left: calc(50% - (calc(100% - 16px)) / 2);
  top: 820px;


  & .Title {
    width: 100%;
    height: auto;

    font-family: var(--font-dm);
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-h2);
    line-height: 44px;

    leading-trim: both;
    text-edge: cap;
    align-items: center;
    letter-spacing: 2px;

    color: var(--Color-White);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    & span {
      font-style: italic;
      font-weight: 400;
      color: var(--Color-Primary);
    }
  }

  .Description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 90%;
    height: auto;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    & p {
      font-family: var(--font-poppins);
      font-style: normal;
      font-weight: 400;
      font-size: var(--fs-body);
      line-height: 28px;

      color: var(--Color-Gray);
    }
  }

  .SkillsContainer {
    display: flex;
    flex-wrap: wrap;

    width: 90%;
    height: auto;
    gap: 16px 20px;

    flex: none;
    order: 2;
    flex-grow: 0;

    .SkillBadge {
      box-sizing: border-box;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 20px;

      width: auto;
      height: 40px;

      background: rgba(213, 213, 213, 0.05);
      border: 0.75px solid var(--Color-Light-Gray);
      border-radius: 20px;

      font-family: var(--font-space);
      font-style: normal;
      font-weight: 400;
      font-size: var(--fs-body);
      line-height: 26px;
      text-align: center;

      color: var(--Color-White);

      flex: none;
      order: 0;
      flex-grow: 0;

    }
  }
}

/* Responsivo

/* TABLET (768px a 1023px) */

@media (min-width: 768px) and (max-width: 1023px) {
  .Sobre {
    height: 1780px;
  }

  .SectionTag {
    left: 45px;
    top: 85px;
  }

  .NameFunder {
    left: 45px;
    top: 840px;
  }

  .FotoContainer img {
    width: 800px;
    left: calc(50% - 800px / 2 + 0.5px);
    top: 0;
  }

  .TextContainer {
    width: calc(100% - 120px);
    left: 45px;
    top: 1060px;

    & .Title {
      font-size: var(--fs-h0);
      line-height: 68px;
    }
  }

}

/* DESKTOP / NOTEBOOK (≥1024px) */

@media (min-width: 1280px) {
  .Sobre {
    height: 807px;
  }

  .SectionTag {
    left: 75px;
    top: 85px;
  }

  .NameFunder {
    left: 75px;
    top: 680px;
  }

  .FotoContainer img {
    width: 650px;
    left: 0;
    top: 0;
  }

  .TextContainer {
    width: calc(100% - 620px);
    left: 605px;
    top: 90px;

    & .Title {
      font-size: var(--fs-h0);
      line-height: 68px;
    }

    .SkillsContainer {
      width: 80%;
    }
  }
}

/* TELAS GRANDES (≥1700px) */

@media (min-width: 1700px) {
  .Sobre {
    height: 1100px;
  }

  .SectionTag {
    left: 95px;
    top: 100px;
  }

  .NameFunder {
    left: 95px;
    top: 960px;
  }

  .FotoContainer img {
    width: 1000px;
    left: 0;
    top: -10px;
  }

  .TextContainer {
    width: calc(100% - 1090px);
    left: 905px;
    top: 220px;

    & .Title {
      font-size: var(--fs-h0);
      line-height: 64px;
    }

    .Description {
      width: 80%;
    }

    .SkillsContainer {
      width: 80%;
    }
  }
}