.Habilidades {
  position: relative;
  width: 100%;
  height: 2220px;

  background: radial-gradient(
    122.53% 32.51% at 50% 50%,
    #0b0b0b 11.18%,
    #050506 100%
  );

  overflow: hidden;
}

.SkillsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: calc(100% - 16px);
  height: auto;
  left: calc(50% - (100% - 16px) / 2);
  top: 290px;

  & .SkillItem {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 0px;
    gap: 32px;
    position: relative;

    width: 100%;
    height: auto;

    flex: none;
    order: 0;
    flex-grow: 0;

    & .SkillHeader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0px;

      width: 100%;
      height: auto;

      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;

      & .number {
        width: auto;
        height: auto;

        font-family: var(--font-plus);
        font-style: normal;
        font-weight: 500;
        font-size: 56px;
        line-height: 71px;

        color: var(--Azul-Escuro);

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: -38px 0px;
      }

      & .Title {
        width: 100%;
        height: auto;

        font-family: var(--font-plus);
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;

        color: var(--Branco);

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
      }
    }

    & .Description {
      width: 100%;
      height: auto;

      font-family: var(--font-poppins);
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      display: flex;
      align-items: center;

      color: var(--Cinza-Claro);

      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
    }
  }
}

.SkillItem::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  /* Altura da "borda" */
  background: linear-gradient(
    to right,
    #88888800 0%,
    #888888 50%,
    #88888800 100%
  );
  z-index: 1;
}

/* Responsivo

/* TABLET (768px a 1023px) */

@media (min-width: 768px) and (max-width: 1023px) {
  .Habilidades {
    height: 2100px;
  }

  .SkillsContainer {
    gap: 40px;

    width: calc(100% - 255px);
    left: 72px;
    top: 290px;
  }
}

/* DESKTOP / NOTEBOOK (≥1024px) */

@media (min-width: 1280px) {
  .Habilidades {
    height: 1640px;
  }

  .SkillsContainer {
    gap: 40px;

    width: calc(100% - 95px);
    left: calc(50% - (100% - 95px) / 2);
    top: 300px;

    & .SkillItem {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 32px 0px;
      gap: 160px;

      &:hover .SkillHeader::after {
        width: 2px;
        height: 120px;
        opacity: 1;
      }

      & .SkillHeader {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 32px;
        width: 40%;

        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 120%;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 20px;
          width: 0px;
          height: 2px;
          background-color: var(--Azul-Claro);
          opacity: 0;
          transition: all 0.4s ease-in-out;
          pointer-events: none;
        }

        & .number {
          font-size: 56px;
          line-height: 71px;
        }

        & .Title {
          font-size: 40px;
          line-height: 51px;
          display: flex;
          align-items: center;
        }
      }

      & .Description {
        width: 40%;
        overflow: hidden;
      }
    }
  }
}

/* TELAS GRANDES (≥1700px) */

@media (min-width: 1700px) {
  .Habilidades {
    height: 1640px;
  }

  .SkillsContainer {
    gap: 44px;

    width: calc(100% - 235px);
    left: calc(50% - (100% - 235px) / 2);
    top: 320px;

    & .SkillItem {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 32px 0px;
      gap: 160px;

      &:hover .SkillHeader::after {
        width: 2px;
        height: 120px;
        opacity: 1;
      }

      & .SkillHeader {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 52px;
        width: 45%;

        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 100%;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 20px;
          width: 0px;
          height: 2px;
          background-color: var(--Azul-Claro);
          opacity: 0;
          transition: all 0.4s ease-in-out;
          pointer-events: none;
        }

        & .number {
          font-size: 56px;
          line-height: 71px;
        }

        & .Title {
          font-size: 44px;
          line-height: 55px;
          display: flex;
          align-items: center;
        }
      }

      & .Description {
        width: 32%;
        overflow: hidden;
      }
    }
  }
}
