.Contatos {
  position: relative;
  width: 100%;
  height: 1510px;

  background: var(--Preto);

  overflow: hidden;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  position: absolute;
  width: calc(100% - 16px);
  height: auto;
  left: calc(50% - (100% - 16px) / 2);
  top: 260px;

  & h1 {
    width: 100%;
    height: auto;

    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;

    leading-trim: both;
    text-edge: cap;
    align-items: center;
    text-transform: uppercase;

    color: var(--Branco);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    & span {
      color: var(--Azul-Claro);
    }
  }

  & p {
    width: 100%;
    height: auto;

    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: var(--Cinza-Claro);

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}

.CardsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: calc(100% - 16px);
  height: auto;
  left: calc(50% - (100% - 16px) / 2);
  top: 690px;
}

.ContactCard {
  position: relative;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  display: flex;

  background: linear-gradient(135deg, #f0ede624, #f0ede600 72%);
  box-shadow: 73px 44px 34px rgba(33, 33, 33, 0.01),
    41px 25px 29px rgba(33, 33, 33, 0.03), 18px 11px 21px rgba(33, 33, 33, 0.04),
    5px 3px 12px rgba(33, 33, 33, 0.05);

  width: 100%;
  height: 220px;
  border-radius: 22px;

  & .CardContent {
    box-sizing: border-box;

    width: 98%;
    height: 98%;

    background: linear-gradient(100.41deg, #050506 0%, #101010 100%);
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;

    & .IconBox {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 9.75px;
      gap: 9.75px;

      position: relative;
      width: 52px;
      height: 52px;
      left: 16px;
      top: 16px;

      background: linear-gradient(135deg, #066fd5 0%, #003fff 100%);
      box-shadow: 0px 22.2857px 9.28571px rgba(4, 99, 223, 0.01),
        0px 13px 7.42857px rgba(4, 99, 223, 0.05),
        0px 5.57143px 5.57143px rgba(4, 99, 223, 0.09),
        0px 1.85714px 3.71429px rgba(4, 99, 223, 0.1);
      border-radius: 13px;
    }

    & .CardInfo {
      position: relative;
      width: 90%;
      height: auto;
      left: 16px;
      top: 35px;

      font-family: var(--font-poppins);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;

      color: var(--Cinza-Claro);
    }

    & .ArrowCircle {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 9.3739px;
      gap: 9.37px;

      position: relative;
      top: 55px;
      left: 325px;
      width: 32px;
      height: 32px;

      background: radial-gradient(
        71.4% 51.16% at 50% 50%,
        #f0ede6 0%,
        #ddd7c9 100%
      );
      border: 0.5px solid rgba(5, 5, 6, 0.2);
      border-radius: 100%;
    }
  }

  & .CardContent:hover {
    background: linear-gradient(145deg, #101010 0%, #0a0a0b 100%);
  }
}

/* Responsivo

/* TABLET (768px a 1023px) */

@media (min-width: 768px) and (max-width: 1023px) {
  .Contatos {
    height: 1510px;
  }

  .textContainer {
    gap: 36px;

    width: calc(100% - 320px);
    left: 72px;
    top: 260px;

    & h1 {
      font-size: 42px;
      line-height: 53px;
    }
  }

  .CardsContainer {
    gap: 24px;

    width: calc(100% - 425px);
    left: 72px;
    top: 685px;
  }

  .ContactCard {
    position: relative;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;

    & .CardContent {
      box-sizing: border-box;

      & .CardInfo {
        width: 85%;
        left: 16px;
        top: 35px;
      }

      & .ArrowCircle {
        top: 55px;
        left: 355px;
      }
    }
  }
}

/* DESKTOP / NOTEBOOK (≥1024px) */
@media (min-width: 1280px) {
  .Contatos {
    height: 1280px;
  }

  .textContainer {
    gap: 28px;

    width: calc(100% - 650px);
    left: 95px;
    top: 270px;

    & h1 {
      font-size: 52px;
      line-height: 63px;
    }

    & p {
      width: 90%;
    }
  }

  .CardsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 24px 40px;

    width: calc(100% - 400px);
    left: 95px;
    top: 685px;
  }

  .ContactCard {
    position: relative;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;

    width: 420px;
    border-radius: 22px;

    & .CardContent {
      box-sizing: border-box;

      width: 98%;
      height: 98%;

      & .CardInfo {
        width: 80%;
        height: auto;
        left: 16px;
        top: 35px;
      }

      & .ArrowCircle {
        top: -105px;
        left: 365px;
      }
    }
  }
}

/* TELAS GRANDES (≥1700px) */

@media (min-width: 1700px) {
  .Contatos {
    height: 1320px;
  }

  .textContainer {
    gap: 28px;

    width: calc(100% - 970px);
    left: 95px;
    top: 300px;

    & h1 {
      font-size: 76px;
      line-height: 90px;
    }

    & p {
      width: 70%;
    }
  }

  .CardsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 24px 40px;

    width: calc(100% - 980px);
    left: 95px;
    top: 750px;
  }

  .ContactCard {
    position: relative;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;

    width: 420px;
    border-radius: 22px;

    & .CardContent {
      box-sizing: border-box;

      width: 98%;
      height: 98%;

      & .CardInfo {
        width: 80%;
        left: 16px;
        top: 35px;
      }

      & .ArrowCircle {
        top: -105px;
        left: 365px;
      }
    }
  }
}
