.Contatos {
  position: relative;
  width: 100%;
  height: 1732px;

  background: var(--Preto);

  overflow: hidden;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  position: absolute;
  width: calc(100% - 16px);
  height: auto;
  left: calc(50% - (100% - 16px) / 2);
  top: 260px;

  & h1 {
    width: 100%;
    height: auto;

    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;

    leading-trim: both;
    text-edge: cap;
    align-items: center;
    text-transform: uppercase;

    color: var(--Branco);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    & span {
      color: var(--Azul-Claro);
    }
  }

  & p {
    width: 100%;
    height: auto;

    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: var(--Cinza-Claro);

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 340px;
  height: auto;
  left: calc(50% - 340px / 2);
  top: 679px;

  & .card {
    width: 340px;
    height: 293px;

    background: linear-gradient(100.41deg, #070707 0%, #101010 100%);
    border-radius: 32px 0px 32px 32px;

    overflow: hidden;

    flex: none;
    order: 0;
    flex-grow: 0;

    & .iconContainer {
      position: relative;
      width: 105px;
      height: 106px;
      left: 235px;
      top: 0px;

      overflow: hidden;

      & .iconBg {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 22.3174px;
        gap: 22.32px;

        position: absolute;
        width: 63px;
        height: 63px;
        left: 39px;
        top: 4px;

        z-index: 1;

        background: radial-gradient(71.4% 51.16% at 50% 50%,
            #f0ede6 0%,
            #ddd7c9 100%);
        border-radius: 50%;

        & img {
          width: 18.37px;
          height: 18.37px;

          flex: none;
          order: 0;
          flex-grow: 0;
        }
      }

      & .subtract {
        position: absolute;
        width: 105px;
        height: 106px;
        right: 0px;
        top: 0px;
      }
    }

    & .cardInfo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 52px;

      position: relative;
      width: 259px;
      height: auto;
      left: 29px;
      top: -65px;

      & img {
        width: auto;
        height: 93.5px;

        mix-blend-mode: overlay;

        flex: none;
        order: 0;
        flex-grow: 0;
      }

      & h1 {
        width: 100%;
        height: auto;

        font-family: var(--font-poppins);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;


        background: linear-gradient(90deg, #afafaf38 5%, #AFAFAF 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
      }
    }
  }
}

/* Responsivo

/* TABLET (768px a 1023px) */

@media (min-width: 768px) and (max-width: 1023px) {
  .Contatos {
    height: 1480px;
  }

  .textContainer {
    gap: 36px;

    width: calc(100% - 320px);
    left: 72px;
    top: 260px;

    & h1 {
      font-size: 42px;
      line-height: 53px;
    }
  }

  .cardsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 54px 44px;

    position: relative;
    width: 724px;
    height: auto;

    left: 72px;
    top: 705px;
  }
}

/* DESKTOP / NOTEBOOK (≥1024px) */
@media (min-width: 1280px) {
  .Contatos {
    height: 1460px;
  }

  .textContainer {
    gap: 28px;

    width: calc(100% - 650px);
    left: 95px;
    top: 270px;

    & h1 {
      font-size: 52px;
      line-height: 63px;
    }

    & p {
      width: 90%;
    }
  }

  .cardsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 54px 44px;

    position: relative;
    width: 724px;
    height: auto;

    left: 95px;
    top: 705px;
  }
}

/* TELAS GRANDES (≥1700px) */

@media (min-width: 1700px) {
  .Contatos {
    height: 1240px;
  }

  .textContainer {
    gap: 28px;

    width: calc(100% - 970px);
    left: 95px;
    top: 300px;

    & h1 {
      font-size: 76px;
      line-height: 90px;
    }

    & p {
      width: 70%;
    }
  }

  .cardsContainer {
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 52px;

    position: absolute;
    width: auto;
    height: 293px;
    left: 105px;
    top: 751px;
  }
}