.Projetos {
  position: relative;
  width: 100%;
  height: 2600px;

  background: var(--Preto);

  overflow: hidden;
}

.ProjectGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: calc(100% - 16px);
  height: auto;
  left: calc(50% - (100% - 16px) / 2);
  top: 260px;
}

/* Responsivo

/* TABLET (768px a 1023px) */

@media (min-width: 768px) and (max-width: 1023px) {
  .Projetos {
    height: 1700px;
  }

  .ProjectGrid {
    gap: 40px;

    width: calc(100% - 94px);
    left: calc(50% - (100% - 94px) / 2);
    top: 260px;
  }
}

/* DESKTOP / NOTEBOOK (≥1024px) */
@media (min-width: 1280px) {
  .Projetos {
    height: 1160px;
  }

  .ProjectGrid {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0px;
    gap: 32px 24px;

    width: calc(100% - 16px);
    height: auto;
    left: calc(50% - (100% - 16px) / 2);
    top: 260px;
  }
}

/* TELAS GRANDES (≥1700px) */

@media (min-width: 1700px) {
  .Projetos {
    height: 1380px;
  }

  .ProjectGrid {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0px;
    gap: 52px 32px;

    width: calc(100% - 235px);
    height: auto;
    left: calc(50% - (100% - 235px) / 2);
    top: 295px;
  }
}
