@import url(./Global/Global.css);
@import url(./Components/Header.module.css);
@import url(./Partials/sectionHome.module.css);
@import url(./Partials/sectionProjeto.module.css);
@import url(./Partials/sectionSobre.module.css);
@import url(./Partials/sectionHabilidades.module.css);
@import url(./Partials/sectionContatos.module.css);
@import url(./Components/Footer.module.css);